body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 980px) {
    .element {
        all: none;
    }
}

@media screen {
    body {
        width: 100%;
    }
}

@media print {
    body {
        width: 100%;
    }
}

body {
font-family: 'Roboto', sans-serif;
font-size: 1.4rem;
font-weight: 400;
}
  
h1 {
font-size: 6rem;
font-weight: 700;
text-align: center;
color: #000000;
}

h2 {
font-size: 4.5rem;
font-weight: 500;
text-align: center;
color: #55AD7A;
}

h3 {
font-size: 3.5rem;
font-weight: 500;
color: #000000;
}

h4 {
font-size: 1.4rem;
font-weight: 400;
color: #000000;
}

h5 {
font-size: .8rem;
font-weight: 300;
}

p {
font-size: 1rem;
font-weight: 400;
color: #000000;
}

a {
text-decoration: none;
color: #87ceeb;
}

img {
    width: 100%;
    height: 100%;
}

/* Navigation bar */

#navbar {
display: flex;
align-items: center;
width: 100%;
background-color: #4d4d4d;
}

#nav-buttons {
display: flex;
justify-content: flex-end;
align-items: center;
top: 0;
left: 0;
width: 100%;
background-color: #4d4d4d;
}

.nav-list {
display: flex;
margin-right: 2rem;
background: linear-gradient(to bottom, #4395B4 0%, #11587F 100%);
}

.nav-list:hover {
margin-right: 2rem;
background-color: gray;
}

.nav-list a {
display: block;
font-size: 1.8rem;
padding: 1.5rem 2rem;
color: #D5D5D5;
}

/* Star Wars page css */

#textSection {
    margin: 20px;
}

.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    border-radius: 15px;
    margin: 10px;
}
  
.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}
  
.card__face {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}
  
.card__face--front {
    background: red;
    align-items: center;
    border-radius: 15px;
}
  
.card__face--back {
    background: blue;
    border-radius: 15px;
    transform: rotateY(180deg);
}

.card__face--back img{
    width: 200px;
    height: 260px;
    border-radius: 15px;
}

/* Star Wars add people form css */

#personForm {
    margin: 20px;
}

form.swinput {
    display: table;
}
  
div.swinput { 
    display: table-row;
}
  
label, input {
    display: table-cell;
    margin-bottom: 10px;
}
  
label {
    padding-right: 10px;
}

/* Pokemon Pokedex section */

.poke-container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

#pokedex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    grid-gap: 20px;
    padding-inline-start: 0;
}

.pokecard {
    list-style: none;
    padding: 40px;
    width: 250px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
}

.pokecard:hover {
    animation: bounce 0.5s linear;
}

.pokecard-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.pokecard-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.pokecard-image {
    height: 180px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}