* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: inherit; }

@media only screen and (min-width: 980px) {
  .element {
    all: none;
  }
}

@media screen {
  body {
    width: 100%;
  }
}
  
@media print {
  body {
    width: 100%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 4.5rem;
  font-weight: 400;
  color: white;
}

h3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #D5D5D5;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  color: #D5D5D5;
}

h5 {
  font-size: .8rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #D5D5D5;
}

a {
  text-decoration: none;
  color: #87ceeb;
}

img {
  display: block;
  width: 100%;
}


/* nav */

#navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4d4d4d;
}

#nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4d4d4d;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  background: linear-gradient(to bottom, #4395B4 0%, #11587F 100%);
}

.nav-list:hover {
  margin-right: 2rem;
  background-color: gray;
}

.nav-list a {
  display: block;
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  color: #D5D5D5;
}

/* Welcome section */

#welcome-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-image: url("../img/image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-image: linear-gradient(to bottom right, #11587F, #4395B4); */
}
.ws-text {
  padding: 20px 0 20px 30px;
  margin-bottom: 0;
  margin-top: auto;
}

.ws-text h1 {
  font-size: 6rem;
  font-weight: 700;
  color: white;
}

/* Project section */

#projects {
  background-color: white;
  text-align: center;
  padding: 6rem 2rem 2rem 2rem;
}

#project-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
@media (max-width: 30.625em) {
  .projects {
    padding: 6rem 1rem;
  }

  .projects-section {
    grid-template-columns: 1fr;
  }
}

.project-section-header {
  max-width: 550px;
  margin: 0 auto 6rem auto;
  border-top: 0.2rem solid;
  border-bottom: 0.2rem solid;
  color: black;
}

.project-tile {
  display: flex;
  flex-direction: column;
  background-color: #4395B4;
  height: 450px;
  width: 400px;
  border-style: solid;
  border-width: 2px;
}

.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  top: 0px;
  height: 75px;
}

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #d5d5d5;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background: red;
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}

form.swinput {
  display: table;
}

div.swinput { 
  display: table-row;
}

label, input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

/* contact */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: linear-gradient(to bottom right, #11587F, #4395B4);
}

#contact-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  background-color: #55AD7A;
  margin: 20px;
  padding: 35px 45px;
}

.social-link a {
  color: #D5D5D5;
}

/* Footer */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #d5d5d5;
}
