* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: inherit; }

@media only screen and (min-width: 980px) {
  .element {
    all: none;
  }
}

@media screen {
  body {
    width: 100%;
  }
}
  
@media print {
  body {
    width: 100%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  color: white;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  color: #D5D5D5;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #D5D5D5;
}

h5 {
  font-size: 10px;
  font-weight: 300;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #D5D5D5;
}

a {
  text-decoration: none;
  color: #87ceeb;
}

img {
  display: block;
  width: 100%;
}

/* nav */


#nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4d4d4d;
}

.nav-list {
  margin-right: 20px;
  background: linear-gradient(to bottom, #4395B4 0%, #11587F 100%);
}

.nav-list:hover {
  margin-right: 20px;
  background-color: gray;
}

.nav-list a {
  display: block;
  font-size: 20px;
  padding: 12px 20px;
  color: #D5D5D5;
}

#navbarpadding {
  height: 48px;
  background-color: #4d4d4d;
}

/* --- NAVIGATION --- */
/* phone nav here */
@media only screen and (max-width: 600px) {
  nav {
      background-color: #058c8c;
      padding: .5rem 1rem;
  }
  
  nav ul.menu {
      list-style-type: none;
      padding: 0;
  }
  
  nav ul.menu li a {
      padding: .5rem 1rem;
      margin-bottom: .5rem;
      background-color: #0A5059;
      color: #edf2fb;
      font-weight: 700;
      text-decoration: none;
      display: block;
      border: solid 1px #edf2fb;
      border-radius: .5rem;
  }
  
  nav ul.menu li a:hover {
      background-color: #edf2fb;
      color: #0A5059;
      border: solid 1px #0A5059;
  }
  
  nav ul.menu li.active a {
      background-color: #35bfb1;
      color: #edf2fb;
  }
  
}/* end phone nav */


/* desktop nav here */
@media only screen and (min-width: 601px) {
 nav {
      background-color: #4d4d4d;
      background: linear-gradient(to bottom, #4395B4 0%, #11587F 100%);
  }
  nav ul.menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  nav ul.menu li {
      float: left;
  }
  nav ul.menu li a {
      display: block;
      padding: .6rem 1.75rem;
      color: #edf2fb;
      text-decoration: none;
      border-right: solid 1px #edf2fb;
  }
  nav ul.menu li a:hover {
      background-color: black;
      color: white;
  }
  nav ul.menu li.active a {
      background: linear-gradient(to bottom, #5d5d5d 0%,  #3d3d3d 100%);
      color: #edf2fb;
  }
}/* end desktop nav */

/* Welcome section */

#welcome-section {
  display: flex;
  flex-direction: column;
  height: 94vh;
  overflow: auto;
  background-image: url("../img/image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-image: linear-gradient(to bottom right, #11587F, #4395B4); */
}
.ws-text {
  padding: 20px 0 20px 30px;
  margin-bottom: 0;
  margin-top: auto;
}

.ws-text h1 {
  font-size: 75px;
  font-weight: 700;
  color: white;
}

.ws-text h2 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

/* Project section */

#projects {
  background-color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 2rem 1rem 2rem;
}

#projects h3 {
  font-size: 3rem
}

#project-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media (max-width: 30.625em) {
  .projects {
    padding: 6rem 1rem;
  }
}

.project-section-header {
  max-width: 550px;
  margin: 0 auto 2rem auto;
  border-top: 0.2rem solid;
  border-bottom: 0.2rem solid;
  color: black;
}

.project-tile {
  display: flex;
  flex-direction: column;

  margin: 10px;
  border-style: solid;
  border-width: 2px;
}

.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  top: 0px;
  height: 75px;
  width: 400px;
}

.pano-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  top: 0px;
  height: 75px;
  width: 550px;
}

#project-image0 {
  height: 350px;
  overflow: auto;
  background: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image1 {
  height: 350px;
  overflow: auto;
  background: url("../img/project-img-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image2 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image3 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image4 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#project-image5 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image6 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image7 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image8 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image9 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image10 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image11 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom, center;
}

#project-image12 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-12.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image13 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-13.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image14 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-image15 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/project-img-15.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image0 {
  height: 350px;
  overflow: auto;
  background: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image1 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image2 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image3 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image4 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image5 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image6 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image7 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image8 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image9 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image10 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image11 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image12 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image13 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image14 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pano-image15 {
  height: 350px;
  overflow: auto;
  background-image: url("../img/Pano_15.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#panorama-image1 {
  height: 250px;
  overflow: auto;
  background-image: url("../img/Pano_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* contact */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-image: linear-gradient(to bottom right, #11587F, #4395B4);
}

#contact-header {
  display: flex;
  flex-direction: column;
}

#contact-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  background-color: #55AD7A;
  margin: 20px;
  padding: 20px;
}

.social-link a {
  color: #D5D5D5;
}

/* Footer */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #d5d5d5;
}


/* --- OTHER --- */
div.keepOpen {
  clear: both;
}