body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
  
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: inherit; }

@media only screen and (min-width: 980px) {
    .element {
        all: none;
    }
}

@media screen {
    body {
        width: 100%;
    }
}

@media print {
    body {
        width: 100%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
  }
  
h1 {
font-size: 6rem;
font-weight: 700;
text-align: center;
color: #000000;
}

h2 {
font-size: 4.5rem;
font-weight: 500;
text-align: center;
color: #55AD7A;
}

h3 {
font-size: 3.5rem;
font-weight: 500;
color: #000000;
}

h4 {
font-size: 2rem;
font-weight: 500;
color: #000000;
}

h5 {
font-size: .8rem;
font-weight: 300;
}

p {
font-size: 1rem;
font-weight: 400;
color: #000000;
}

a {
text-decoration: none;
color: #87ceeb;
}

img {
display: block;
width: 100%;
}
  

.the_cards {

}

.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 40px 0;

}
  
.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
  
.card.is-flipped {
    transform: rotateY(180deg);
}
  
.card__face {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}
  
.card__face--front {
    background: red;
}
  
.card__face--back {
    background: blue;
    transform: rotateY(180deg);
}
  
form.swinput {
    display: table;
}
  
div.swinput { 
    display: table-row;
}
  
label, input {
    display: table-cell;
    margin-bottom: 10px;
}
  
label {
    padding-right: 10px;
}
